@import "./tokens.css";

/* Reset básico */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--duino-font);
    color: var(--duino-color-fg);
    background: var(--duino-color-bg);
}