:root {
    --duino-radius: 12px;
    --duino-font: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Inter, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    --duino-gap-sm: .375rem;
    --duino-gap: .5rem;
    --duino-gap-lg: .75rem;

    --duino-color-bg: #ffffff;
    --duino-color-fg: #13151a;
    --duino-color-muted: #6b7280;

    /* Colores inspirados en Arduino - Teal/Turquesa */
    --duino-brand-50: #f0fdfa;
    --duino-brand-100: #ccfbf1;
    --duino-brand-200: #99f6e4;
    --duino-brand-300: #5eead4;
    --duino-brand-400: #2dd4bf;
    --duino-brand-500: #14b8a6;
    --duino-brand-600: #0d9488;
    --duino-brand-700: #008184;
    --duino-brand-800: #005c5f;
    --duino-brand-900: #134e4a;

    --duino-danger-500: #ef4444;
    --duino-border: #e5e7eb;
    --duino-ring: #5eead4;
}